In [2]:
import pandas as pd

df = pd.read_csv('insurance.txt', sep = '\t')

In [3]:
df = df.iloc[1: 52,:]
df['Estimate (%)'] = df['Estimate (%)'].astype(float)
df.to_csv('insurance.csv', index = False)

In [4]:
df2 = pd.read_csv('income.txt', sep = '\t')

df2 = df2.iloc[1: 52,:]
df2['Estimate ($)'] = df2['Estimate ($)'].apply(lambda x: x.replace(',', '')).astype(int)
df2.to_csv('income.csv', index = False)

In [5]:
df2

                Location  Estimate ($)   90% MOE Base Population Sample Size
1                ALABAMA         40400  ±  2,840          94,000         915
2                 ALASKA         46800  ±  6,290          12,000         107
3                ARIZONA         39200  ±  2,520         116,000       1,141
4               ARKANSAS         35400  ±  3,220          57,000         599
5             CALIFORNIA         48500  ±  1,830         440,000       4,390
6               COLORADO         47500  ±  3,690          88,000         843
7            CONNECTICUT         50500  ±  5,240          45,000         444
8               DELAWARE         50500  ±  8,440          19,000         148
9   DISTRICT OF COLUMBIA         60600  ± 14,840          10,000          95
10               FLORIDA         38400  ±  1,700         298,000       2,940
11               GEORGIA         40400  ±  2,360         170,000       1,681
12                HAWAII         50500  ±  7,220          20,000         188
13                 IDAHO         40400  ±  4,820          31,000         301
14              ILLINOIS         43900  ±  2,170         174,000       1,699
15               INDIANA         40400  ±  2,330         116,000       1,184
16                  IOWA         40400  ±  3,420          46,000         479
17                KANSAS         40400  ±  2,990          57,000         558
18              KENTUCKY         37400  ±  2,820          89,000         851
19             LOUISIANA         40400  ±  3,550          86,000         823
20                 MAINE         39800  ±  6,530          19,000         191
21              MARYLAND         54500  ±  4,230          93,000         912
22         MASSACHUSETTS         52500  ±  3,890          82,000         804
23              MICHIGAN         40400  ±  2,230         147,000       1,486
24             MINNESOTA         48500  ±  3,190          78,000         780
25           MISSISSIPPI         32300  ±  3,650          50,000         532
26              MISSOURI         37400  ±  2,480         109,000       1,089
27               MONTANA         37400  ±  6,110          17,000         181
28              NEBRASKA         48500  ±  4,080          34,000         341
29                NEVADA         40400  ±  3,720          46,000         450
30         NEW HAMPSHIRE         51500  ±  8,620          23,000         221
31            NEW JERSEY         50500  ±  3,970         105,000       1,059
32            NEW MEXICO         38800  ±  4,410          39,000         320
33              NEW YORK         48500  ±  2,410         225,000       2,388
34        NORTH CAROLINA         38400  ±  2,040         161,000       1,555
35          NORTH DAKOTA         44400  ±  6,800          14,000         152
36                  OHIO         40400  ±  1,800         194,000       1,888
37              OKLAHOMA         38400  ±  2,340          92,000         869
38                OREGON         40400  ±  3,300          74,000         691
39          PENNSYLVANIA         40400  ±  1,870         222,000       2,077
40          RHODE ISLAND         50500  ±  8,190          16,000         164
41        SOUTH CAROLINA         40400  ±  2,970          83,000         823
42          SOUTH DAKOTA         36400  ±  5,350          16,000         140
43             TENNESSEE         38400  ±  2,220         128,000       1,251
44                 TEXAS         40400  ±  1,440         473,000       4,567
45                  UTAH         40800  ±  4,430          45,000         445
46               VERMONT         42400  ±  6,350          12,000         101
47              VIRGINIA         46500  ±  3,230         145,000       1,355
48            WASHINGTON         50500  ±  2,970         129,000       1,222
49         WEST VIRGINIA         39400  ±  4,590          37,000         364
50             WISCONSIN         43400  ±  2,400          82,000         845
51               WYOMING         50500  ±  9,400          11,000         114

In [6]:
df2 = pd.read_csv('healthy.txt', sep = '\t')

df2 = df2.iloc[1: 52,:]
df2['Estimate (%)'] = df2['Estimate (%)']
df2.to_csv('healthy.csv', index = False)
df2

                Location  Estimate (%) 90% MOE Base Population Sample Size
1                ALABAMA          14.6  ± 0.53       2,317,200      21,658
2                 ALASKA          15.2  ± 1.80         384,100       3,268
3                ARIZONA          15.6  ± 0.70       3,527,900      32,358
4               ARKANSAS          14.0  ± 0.73       1,375,300      12,923
5             CALIFORNIA          11.2  ± 0.21      21,138,700     196,327
6               COLORADO          10.6  ± 0.51       3,107,200      29,540
7            CONNECTICUT           8.6  ± 0.47       1,844,900      17,768
8               DELAWARE           9.5  ± 1.19         469,400       4,306
9   DISTRICT OF COLUMBIA           4.2  ± 0.93         407,200       4,019
10               FLORIDA          19.7  ± 0.36      10,583,800      95,803
11               GEORGIA          18.6  ± 0.39       5,357,500      48,740
12                HAWAII           5.1  ± 0.80         731,200       7,087
13                 IDAHO          16.2  ± 0.91         851,800       7,769
14              ILLINOIS          10.5  ± 0.27       6,561,500      61,942
15               INDIANA          11.9  ± 0.44       3,286,900      31,433
16                  IOWA           7.1  ± 0.44       1,555,000      14,988
17                KANSAS          12.6  ± 0.65       1,382,200      13,427
18              KENTUCKY           9.6  ± 0.54       2,061,700      20,125
19             LOUISIANA          13.7  ± 0.64       2,207,300      19,913
20                 MAINE          12.1  ± 0.86         651,400       6,001
21              MARYLAND           8.5  ± 0.46       3,167,300      30,177
22         MASSACHUSETTS           4.4  ± 0.31       3,689,500      36,285
23              MICHIGAN           8.6  ± 0.27       4,913,700      46,879
24             MINNESOTA           6.5  ± 0.36       2,904,800      27,050
25           MISSISSIPPI          19.7  ± 0.78       1,354,500      12,525
26              MISSOURI          14.0  ± 0.53       2,968,700      28,729
27               MONTANA          11.8  ± 0.95         523,500       4,815
28              NEBRASKA          10.4  ± 0.67         947,300       8,987
29                NEVADA          15.8  ± 0.85       1,591,400      14,470
30         NEW HAMPSHIRE           9.0  ± 0.84         705,800       6,779
31            NEW JERSEY          11.3  ± 0.43       4,710,400      45,669
32            NEW MEXICO          15.2  ± 1.01         977,900       8,559
33              NEW YORK           7.9  ± 0.19      10,257,400      99,930
34        NORTH CAROLINA          16.6  ± 0.37       5,249,300      48,945
35          NORTH DAKOTA           8.0  ± 0.92         390,200       3,761
36                  OHIO           9.2  ± 0.32       5,726,200      55,973
37              OKLAHOMA          21.2  ± 0.64       1,854,100      16,364
38                OREGON          10.5  ± 0.62       2,122,300      19,952
39          PENNSYLVANIA           7.9  ± 0.30       6,304,500      60,778
40          RHODE ISLAND           6.4  ± 0.76         542,100       5,107
41        SOUTH CAROLINA          15.8  ± 0.60       2,494,700      23,248
42          SOUTH DAKOTA          13.2  ± 1.11         423,100       4,134
43             TENNESSEE          14.8  ± 0.54       3,330,300      31,875
44                 TEXAS          24.5  ± 0.29      14,760,500     131,726
45                  UTAH          12.0  ± 0.75       1,612,200      15,533
46               VERMONT           7.3  ± 1.00         308,500       3,033
47              VIRGINIA          10.9  ± 0.39       4,420,700      42,181
48            WASHINGTON           9.4  ± 0.43       3,974,200      38,359
49         WEST VIRGINIA          10.9  ± 0.79         810,200       7,740
50             WISCONSIN           8.2  ± 0.34       2,936,900      28,602
51               WYOMING          16.2  ± 1.49         275,400       2,761