In [25]:
import pandas as pd

df = pd.read_csv('insurance.txt', sep = '\t')

In [26]:
df = df.iloc[1: 52,:]
df['Estimate (%)'] = df['Estimate (%)'].astype(float)
df.to_csv('insurance.csv', index = False)

In [31]:
df2 = pd.read_csv('income.txt', sep = '\t')

df2 = df2.iloc[1: 52,:]
df2['Estimate ($)'] = df2['Estimate ($)'].apply(lambda x: x.replace(',', '')).astype(int)
df2.to_csv('income.csv', index = False)

In [32]:
df2

                Location  Estimate ($)   90% MOE Base Population Sample Size
1                ALABAMA         40400  ±  2,840          94,000         915
2                 ALASKA         46800  ±  6,290          12,000         107
3                ARIZONA         39200  ±  2,520         116,000       1,141
4               ARKANSAS         35400  ±  3,220          57,000         599
5             CALIFORNIA         48500  ±  1,830         440,000       4,390
6               COLORADO         47500  ±  3,690          88,000         843
7            CONNECTICUT         50500  ±  5,240          45,000         444
8               DELAWARE         50500  ±  8,440          19,000         148
9   DISTRICT OF COLUMBIA         60600  ± 14,840          10,000          95
10               FLORIDA         38400  ±  1,700         298,000       2,940
11               GEORGIA         40400  ±  2,360         170,000       1,681
12                HAWAII         50500  ±  7,220          20,000         188
13                 IDAHO         40400  ±  4,820          31,000         301
14              ILLINOIS         43900  ±  2,170         174,000       1,699
15               INDIANA         40400  ±  2,330         116,000       1,184
16                  IOWA         40400  ±  3,420          46,000         479
17                KANSAS         40400  ±  2,990          57,000         558
18              KENTUCKY         37400  ±  2,820          89,000         851
19             LOUISIANA         40400  ±  3,550          86,000         823
20                 MAINE         39800  ±  6,530          19,000         191
21              MARYLAND         54500  ±  4,230          93,000         912
22         MASSACHUSETTS         52500  ±  3,890          82,000         804
23              MICHIGAN         40400  ±  2,230         147,000       1,486
24             MINNESOTA         48500  ±  3,190          78,000         780
25           MISSISSIPPI         32300  ±  3,650          50,000         532
26              MISSOURI         37400  ±  2,480         109,000       1,089
27               MONTANA         37400  ±  6,110          17,000         181
28              NEBRASKA         48500  ±  4,080          34,000         341
29                NEVADA         40400  ±  3,720          46,000         450
30         NEW HAMPSHIRE         51500  ±  8,620          23,000         221
31            NEW JERSEY         50500  ±  3,970         105,000       1,059
32            NEW MEXICO         38800  ±  4,410          39,000         320
33              NEW YORK         48500  ±  2,410         225,000       2,388
34        NORTH CAROLINA         38400  ±  2,040         161,000       1,555
35          NORTH DAKOTA         44400  ±  6,800          14,000         152
36                  OHIO         40400  ±  1,800         194,000       1,888
37              OKLAHOMA         38400  ±  2,340          92,000         869
38                OREGON         40400  ±  3,300          74,000         691
39          PENNSYLVANIA         40400  ±  1,870         222,000       2,077
40          RHODE ISLAND         50500  ±  8,190          16,000         164
41        SOUTH CAROLINA         40400  ±  2,970          83,000         823
42          SOUTH DAKOTA         36400  ±  5,350          16,000         140
43             TENNESSEE         38400  ±  2,220         128,000       1,251
44                 TEXAS         40400  ±  1,440         473,000       4,567
45                  UTAH         40800  ±  4,430          45,000         445
46               VERMONT         42400  ±  6,350          12,000         101
47              VIRGINIA         46500  ±  3,230         145,000       1,355
48            WASHINGTON         50500  ±  2,970         129,000       1,222
49         WEST VIRGINIA         39400  ±  4,590          37,000         364
50             WISCONSIN         43400  ±  2,400          82,000         845
51               WYOMING         50500  ±  9,400          11,000         114